<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QueryExecutor</title>
</head>
<script src="https://cdn.tailwindcss.com"></script>
{#<script src="https://unpkg.com/react@16/umd/react.development.js"></script>#}
{#<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>#}
{#<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>#}
<body class="font-mono text-lg font-bold bg-gray-100 px-2 py-2 border-red-500">
 <div class = "bg-violet-300 grid grid-cols-2 ">
    <button onclick="window.location='/';" class = "py-2 px-4 text-violet-700 rounded-lg font-semibold bg-violet-200 hover:bg-violet-800 hover:text-violet-50" value="click here" >
        Go Home
    </button>
    <button onclick="window.location='/inp';" class = "py-2 px-4 text-violet-700 rounded-lg font-semibold bg-violet-200 hover:bg-violet-800 hover:text-violet-50" value="click here" >
        Reset
    </button>
 </div>
    <br/>
    <h1 class="mb-2 text-3xl font-bold text-gray-900 dark:text-gray-700">
        The available tables are:
    </h1>
    <ul class="space-y-1 list-disc list-inside  text-gray-900 dark:text-gray-800 border-width-4px">
        <li>Contributions</li>
        <li>Countries having (CountryName,CountryID,JoinDate,Capital,HeadOfGovernment,GDPpercapita)</li>
        <li>Department</li>
        <li>Staff</li>
        <li>Treaties</li>
        <li>TreatyMake</li>
    </ul>
    <br/>



    <form action="#" method = "post" class="grid grid-cols-4">
        <div>
        <p class="underline-offset-8 ">Type the query:-</p>
        <br/>
        <p><input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-violet-100 dark:border-violet-800 dark:placeholder-gray-400 dark:text-violet dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id = "a" name = "query" placeholder="select * from Staff;" required/></p>
        <br/>

        <p><input type="submit" class = "py-2 px-4 text-violet-700 rounded-full font-semibold bg-violet-200 hover:bg-violet-800 hover:text-violet-50" value = "Submit"/></p>
        <br/>
         </div>
        <div class="col-span-3">
        <h3>
            <p>The Output will appear here<br/></p>
        </h3>

    <br/>

            <h1 class="font-lg">Previous Query:- <p>{{ Qp }}</p></h1>
        <br/>
        <h1>Table :</h1>
        <br/>
        <output name = "out" for = "Submit">
            <div class="overflow-x-auto relative">
            <table class="border-separate border border-violet-500 bg-slate-50 table-auto shadow-md sm:rounded-md">
                <thead class = "bg-gray-400 whitespace-nowrap uppercase hover:text-white">
                    <tr class="shadow-md sm:rounded-md">
                        {% for i in table_headers %}
                        <th class="py-2 px-2 shadow-md sm:rounded-md">
                            {{i}}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                        <tr class="bg-violet-200 text-violet-800 border-b shadow-md sm:rounded-sm hover:bg-violet-50">
                        {% for j in i %}
                            <td class="shadow-md sm:rounded-md py-2 px-2 border-collapse border border-violet-700">
                                {{j}}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </output>
        <div>
         {% with messages = get_flashed_messages() %}
     {% if messages %}
         {% for i in messages %}
             <p>{{ i }}</p>
         {% endfor %}
     {% endif %}
 {% endwith %}
        </div>
    </div>
    </form>
</body>
</html>
