<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APP</title>
</head>
<script src="https://cdn.tailwindcss.com"></script>
<body class="font-mono text-lg text-violet-700 font-bold bg-gray-100 px-2 py-2 bg-[url('https://www.pngitem.com/pimgs/m/39-399738_european-union-stars-png-transparent-png.png')] bg-hero bg-no-repeat bg-contain overflow-y-scroll bg-center bg-fixed">
 <div class = "bg-violet-300 grid grid-cols-2 ">
    <button onclick="window.location = '/inp'" class="py-2 px-4 text-violet-700 rounded-lg font-semibold bg-violet-200 hover:bg-violet-800 hover:text-violet-50">
        Go to QueryExecutor
    </button>
    <button onclick="window.location='/';" class = "py-2 px-4 text-violet-700 rounded-lg font-semibold bg-violet-200 hover:bg-violet-800 hover:text-violet-50" value="click here" >
        Reset
    </button>
</div>
 <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl">European Union Management System</h1>
    <br/>
    <h1>CRUD Operations on the Database European Union Management System</h1>
    <br/>
 <h1 class="mb-2 text-3xl font-bold ">
        The available tables are:
    </h1>
    <ul class="space-y-1 list-disc list-inside  text-gray-900 dark:text-gray-800 border-width-4px">
        <li>Contributions having Columns DepartmentNumber,DepartmentName,HeadOfDepartmentID,Budget</li>
        <li>Countries having Columns CountryName,CountryID,JoinDate,Capital,HeadOfGovernment,GDPpercapita</li>
        <li>Department</li>
        <li>Staff</li>
        <li>Treaties</li>
        <li>TreatyMake</li>
    </ul>
 <br/>
 <div class="grid grid-cols-9 gap-10 grid-flow-row content-center">
    <div class="grid col-span-3 h-46 w-48 text-sm font-large text-gray-900 bg-white rounded-xl border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <a href="/tab1" class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
            Countries
        </a>
        <a href="/tab2" class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
            Departments
        </a>
        <a href="/tab3" class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
            Contributions
        </a>
        <a href="/tab4" class="block py-2 px-4 w-full border-b rounded-b-lg cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
            Staff
        </a>
        <a href="/tab5" class="block py-2 px-4 w-full border-b rounded-b-lg cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
            Treaties
        </a>
        <a href="/tab6" class="block py-2 px-4 w-full border-b rounded-b-lg cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
            TreatyMake
        </a>
    </div>

        {% block content %}
        {% endblock %}
 <div class="grid col-span-3 ">
 {% block form %}
        {% endblock %}
 </div>
 </div>
 <div class="">

 </div>
</body>
</html>